<div (keydown.enter)="hitEnter()">
  <h2>Sign up</h2>
  <mat-form-field>
    <input type="text" [(ngModel)]="user.username" placeholder="Username" matInput autofocus />
  </mat-form-field>
  <mat-form-field>
    <input [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" placeholder="Password" matInput />
    <mat-icon matSuffix (click)="hide = !hide">
      {{!hide ? 'visibility_off' : 'visibility'}}
    </mat-icon>
  </mat-form-field>
  <button mat-button (click)="submit()">
    Submit
  </button>
  <br />
  <br />
  <a routerLink="/login">Log in</a>
</div>